.name-logo {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.15);
    padding: 0px 45px 0px 45px;
}

.options {
    margin: 0px 18px 0px 18px;
    font-family: "IBM-Plex-Mono-light";
    font-size: 18px;
    color: #A576BC;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media only screen and (max-width: 992px) {
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        z-index: 100;
        overflow: hidden;
        transform: translate(200%);
        background-color: var(--white-100);
        transition: all 0.4s ease-in-out;
    }
}

.is-hidden {
    visibility: hidden;

    @media only screen and (max-width: 992px) {
        visibility: visible;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 18px;
    }
}

#signin-option {
    font-family: "IBM-Plex-Mono-bold";
}


.container{
    z-index: 100;
}