<mat-card class="example-card">

  <img mat-card-image class="image-left" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <div class="info">

    <div class="description">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
          <p class="text">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
      </mat-card-content>
    </div>

    <mat-card-actions>
      <button mat-button class="edit-button">
        <mat-icon>edit</mat-icon>
      </button>
      
      <button mat-button class="delete-button">
        <mat-icon>delete</mat-icon>
      </button>      
  
      <button mat-button class="view-button">
        Ver Projeto
      </button>
    </mat-card-actions>

  </div>




</mat-card>
