<div class="content">
  <span id="page-title">Cadastro de projeto</span>

  <div class="project-forms">
    <div class="forms-fields">
      <p>
        <strong>Cadastre seu projeto conosco e dê vida aos seus sonhos!</strong>
      </p>
      <p>
        Faça parte de nossa comunidade de inovadores, empreendedores e
        criativos.
      </p>

      <form
        class="form-content"
        [formGroup]="createProjetForm"
        enctype="multipart/form-data"
      >
        <span id="forms-title">Título</span>
        <mat-form-field class="example-full-width">
          <input
            type="text"
            name="title"
            matInput
            formControlName="title"
            placeholder="Ex. Noite Estrelada"
          />
          <mat-error
            *ngIf="createProjetForm.get('title')?.hasError('required')"
          >
            Título é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <span id="forms-title">Descrição</span>
        <p>
          <mat-form-field class="example-full-width">
            <textarea
              matInput
              formControlName="description"
              placeholder="Ex. Meu projeto conta a história de..."
            >
            </textarea>
            <mat-error
              *ngIf="createProjetForm.get('description')?.hasError('required')"
            >
              Descrição é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <span id="forms-title">Arquivo</span>
        <label class="btn-up">
          <input
            (change)="this.onFileChange($event)"
            class="form-control"
            formControlName="image"
            type="file"
            hidden
            id="formFile"
          />
          Selecione seu arquivo de imagem
        </label>
        <div id="selectedFiles">
          <ng-container *ngIf="selectedFileName; else noFileSelected">{{
            "Arquivo selecionado: " + selectedFileName
          }}</ng-container>
          <ng-template #noFileSelected>Nenhum arquivo selecionado.</ng-template>
        </div>

        <div class="send-button">
          <button
            type="submit"
            id="send"
            form="form-new-project"
            value="Submit"
            mat-fab
            extended
            color="primary"
            (click)="this.confirm()"
          >
            <mat-icon>cloud_upload</mat-icon>
            Cadastrar
          </button>
        </div>
      </form>
    </div>

    <div class="image-create-project">
      <img src="./../../../assets/images/new-project-image.svg" alt="" />
    </div>
  </div>
</div>
