span {
    display: flex;
    align-items: center;
    font-family: "IBM-Plex-Mono-light";
}

p {
    font-size: 16px;
    font-family: "IBM-Plex-Mono-light";
}

.example-form {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.15);
  }
  
.example-full-width {
    width: 600px;
}

#page-title {
    justify-content: center;
    padding: 25px;
    width: 100%;
    font-size: 36px;
}

#forms-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.forms-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 60px 0px 60px;
}

.send-button {
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#send {
    width: 180px;
    height: 45px;
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

label {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #A576BC;
    color: #fff;
    border-radius: 24px;
    font-family: IBM Plex Mono;
    font-weight: 700;
}

button {
    background-color: #A576BC;
}
