.content {
    background: linear-gradient(269deg, #19103F 0%, #2E0D3F 47.32%, #201824 100%);
    position: relative;
}

.imgBackground {
    position: absolute;
    inset: 0;
    object-fit: cover;
    margin: auto;
    width: 100%;
    min-height: 100%;
}

#name {
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#subname {
    display: flex;
    flex-direction: row-reverse;
    font-family: "IBM-Plex-Mono-light";
    font-size: 12px;
    color: white;
}

.name-logo {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

#register-text {
    display: flex;
    justify-content: center;
    padding: 24px;
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-layout {
    width: 35%;
    padding: 20px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.15);
}

#forms-title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#title {
    font-size: 24px;
    font-family: "IBM-Plex-Mono-bold";
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.small-field {
    width: 60%;
}

.medium-field {
    width: 80%;
}

span {
    display: flex;
    align-items: center;
    font-family: "IBM-Plex-Mono-light";
}

button {
    background-color: #A576BC;
}

.send-button {
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

table td {
    padding:0px 10px 0px 10px;
}