<div class="content">
    <div class="image-profile">
        <div class="user-name">
            <span>Nome do usuário</span>
        </div>
    </div>
    <div class="info">
        <div class="curriculum">
            <div class="title">
                <img src="./../../../assets/icons/curriculum_icon.svg" alt="">
                <span id="title">Projetos</span>
            </div>
            <div class="organize-cards">
                <app-card></app-card>
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>