.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 20px;
}

#title {
    font-family: IBM-Plex-Mono-bold;
    font-size: 24px;
    color: #9A9A9A;
    padding: 20px;
}

.info-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin: 60px 30px 0px 30px;
    width: 100%;
    overflow-y: auto;
    position: relative;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.08);
}

.info {
    display: flex;
    flex-direction: column;
}

.curriculum-info {
    margin-left: 20px;
    max-width: 530px;
    display: flex;
    flex-direction: column;
}

.title-curriculum {
    font-family: IBM-Plex-Mono-bold;
    font-size: 16px;
    color: #9A9A9A;
    padding: 10px;
}

.body-curriculum {
    font-family: IBM-Plex-Mono-medium;
    font-size: 14px;
    color: #000;
}

.curriculum-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.organize-cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.app-card {
    box-sizing: border-box;
    height: 100%; /* ou height: 100vh; */
}

.new-project {
    border-radius: 6px;
    background-color: inherit;
    color: #000;
	border: none;
	padding: 8px;
    font-size: 12px;
	font-family: IBM-Plex-Mono-bold;
	cursor: pointer;
	outline: inherit;
}
  
.new-project:hover {
    color: #fff;
    background-color: #A576BC;
}

#noProject {
    padding: 20px;
    font-size: 12px;
	font-family: IBM-Plex-Mono-bold;
    color: #9A9A9A;
}