.example-card {
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: #FAFAFA;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.title-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Número de linhas a serem exibidas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: justify;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-position {
  width: 700px;
  display: flex;
  flex-direction: row-reverse;
}

button {
  margin: 5px;
}

.edit-button:hover {
  color: rgb(16, 223, 16)
}

.delete-button:hover {
  color: #ff7070;
}

mat-card-content {
  margin-bottom: 20px;
}

.email-text {
  color: #A576BC;
}
