<h2 mat-dialog-title>
    Criar uma publicação
</h2>

<mat-dialog-content>
    <span>No que você está pensando?</span>
</mat-dialog-content>

<mat-dialog-content>

    <form
        [formGroup]="feedForm">

        <mat-form-field class="example-full-width">
            <textarea
            matInput
            formControlName="message"
            maxlength="900"
            >
            </textarea>

            <mat-error *ngIf="feedForm.get('message')?.hasError('required')">
                Mensagem é <strong>obrigatório</strong>
            </mat-error>
        </mat-form-field>

        <div class="character-count">{{ characterCount }}</div>

        <mat-dialog-actions>

            <button 
            class="confirm-button"
            mat-button 
            mat-dialog-close
            *ngIf="!isFeedIdPresent"
            (click)="this.createMessage()"
            >Publicar</button>

            <button 
            class="confirm-button"
            mat-button 
            mat-dialog-close
            *ngIf="isFeedIdPresent"
            (click)="this.updateMessage()"
            >Atualizar</button>
        
            <button 
            class="close-button"
            mat-button 
            mat-dialog-close
            (click)="this.removeIdIfExists()"
            >Fechar</button>
        </mat-dialog-actions>

    </form>

</mat-dialog-content>

