<div class="content">
    <div class="initial-text">
        <div class="img-home">
            <img src="./../../../assets/images/image-home.svg" alt="">
        </div>

        <div class="about-my-journal">
            <p>
                <strong>My Journal</strong> oferece um ambiente completo para que em poucos minutos você seja capaz de cadastrar projetos e começar sua jornada!
            </p>
            <span id="logo-text">Conecte, Exponha, Prospere: os passos da sua jornada começam aqui!</span>
            
            <a href="/signin">
              <button type="button" mat-fab extended color="primary">
                <mat-icon>chevron_right</mat-icon>
                Faça parte dessa história!</button>
            </a>
        </div>
    </div>

    <div class="about-community">
        <span id="community-projects-title">Explore o Mundo da Criatividade: Descubra Projetos Inspiradores</span>
        <div class="text-community-div">
            <p id="community-text">
                Bem-vindo ao nosso universo de projetos inspiradores! Aqui, você encontrará uma coleção diversificada de criações incríveis de pessoas talentosas de todo o mundo. Seja você um amante da arte, um entusiasta do design, um apaixonado por tecnologia ou simplesmente alguém em busca de inspiração, você está no lugar certo.
            </p>
        </div>

        <div class="cards-concepts">
            <mat-card class="example-card">
                <img mat-card-image src="./../../../assets/images/home-concepts-img-1.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <span id="text-content-card">
                    <strong>Diversidade de Ideias</strong> Você encontrará projetos de todas as formas e tamanhos, cada um com sua abordagem única!
                  </span>
                </mat-card-content>
              </mat-card>

              <mat-card class="example-card">
                <img mat-card-image src="./../../../assets/images/home-concepts-img-3.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <span id="text-content-card">
                    <strong>Crie sua Própria Magia</strong> Use essas inspirações para alimentar sua criatividade e aplicá-las aos seus próprios projetos!
                  </span>
                </mat-card-content>
              </mat-card>

              <mat-card class="example-card">
                <img mat-card-image src="./../../../assets/images/home-concepts-img-2.svg" alt="">
                <mat-card-content>
                  <span id="text-content-card">
                    <strong>Compartilhe e Conecte</strong> Converse com os criadores, compartilhe suas próprias ideias e faça parte de uma comunidade apaixonada pela criatividade!
                  </span>
                </mat-card-content>
              </mat-card>

        </div>
    </div>
</div>