<div class="project">
    <div class="projects-intro">
        <span id="intro-project-title">Projetos Disponíveis</span>
        <span id="text-project">Encontre projetos de outros usuários!</span>
    </div>
</div>

<div class="info">
    <div class="info-content">
        <div class="title">
            <div class="title-name">
                <img src="./../../../assets/icons/project_icon.svg" alt="">
                <span id="title">Projetos</span>
            </div>        
        </div>
        <!-- Verifica se a lista de projetos existe e tem pelo menos um elemento -->
        <ng-container *ngIf="projects && projects.length > 0; else noProjects">
            <div class="organize-cards" *ngFor="let project of projects">
                <app-project-card [projectData]="project"></app-project-card>
            </div>
        </ng-container>

        <!-- Mensagem quando não há projetos -->
        <ng-template #noProjects>
            <span id="noItem">Não há projetos cadastrados</span>
        </ng-template>
    </div>
</div>