<div class="image-top">
    <img src="../../../assets/images/about-us-top.svg" alt="">
</div>

<div class="content">
    <div class="intro">
        <p class="intro-text">
            Bem-vindo ao My Journal, sua plataforma online dedicada a inspirar, conectar e celebrar jornadas criativas. Somos mais do que um site para postar projetos; somos uma comunidade apaixonada por histórias de crescimento, aprendizado e inovação.
        </p>
    </div>

    <div class="content-body">
        <div class="our-mission">
            <div class="text">
                <div>
                    <span class="title">Nossa Missão</span>
                </div>

                <div>
                    <p class="mission">No My Journal, acreditamos no poder das narrativas pessoais e na força da comunidade. Nossa missão é fornecer um espaço acolhedor para que indivíduos talentosos compartilhem suas jornadas criativas, desde os primeiros rascunhos até os projetos finais. Queremos ser a plataforma que capacita você a contar sua história, inspirar outros e colaborar em projetos inovadores.</p>
                </div>
            </div>

            <div class="image-mission">
                <img id="image-m" src="../../../assets/images/mission.jpg" alt="">
            </div>
        </div>

        <div class="our-mission">
            <div class="text">
                <div>
                    <span class="title">O Que Nos Impulsiona</span>
                </div>

                <div>
                    <p class="mission">A diversidade é a essência do My Journal. Estamos entusiasmados com a variedade de talentos, perspectivas e experiências que cada criador traz para a nossa comunidade. Seja você um artista visual, desenvolvedor, escritor, designer ou entusiasta de qualquer área criativa, todos são bem-vindos a contribuir para a riqueza e vitalidade do My Journal.</p>
                </div>
            </div>

            <div class="image-mission">
                <img id="image-m" src="../../../assets/images/creativity.webp" alt="">
            </div>
        </div>
    </div>

    <div class="journey">
        <span id="jorney-title">Junte-se à Jornada!</span>
    </div>

    <div class="intro">
        <p class="intro-text">
            Estamos ansiosos para ter você conosco no MyJourney. Seja para compartilhar suas criações, descobrir inspiração ou colaborar com outros talentos, todos têm um lugar aqui. Juntos, vamos transformar cada projeto em uma jornada inesquecível.
        </p>

        <a href="/signin">
            <button type="button">
              Explore
            </button>
        </a>

    </div>

</div>

