<div class="container">
  <img class="imgBackground" src="assets/textures/figma_18_texture.png" />

  <div class="content">
    <div class="information-container">
      <div class="logo-content">
        <img src="./../../../assets/icons/logo_small_purple.svg" alt="logo" />
      </div>

      <div>
        <h1>MY JOURNAL</h1>
        <span>
          <p>
            Destaque suas conquistas profissionais de maneira única e
            impressionante! Crie seu perfil personalizado conosco e transforme-o
            em um currículo poderoso.
          </p>
          <p>
            Mostre suas habilidades e trajetória de sucesso de forma cativante.
          </p>
          <p>
            Junte-se à nossa comunidade de profissionais e abra as portas para
            novas oportunidades.
          </p>

          <p>Cadastre-se agora e comece a construir o seu futuro!</p>
        </span>
      </div>
    </div>

    <div class="form-container">
      <h1>Entrar</h1>

      <form class="form-content" [formGroup]="signinForm">
        <span>
          <label for="email">EMAIL DO <b>USUÁRIO</b></label>
        </span>
          <mat-form-field>
            <input
            type="email"
            id="email"
            name="email"
            placeholder="digite aqui seu email"
            matInput formControlName="email"
          />
          <mat-error *ngIf="signinForm.get('email')?.hasError('required')">
            Email é <strong>obrigatório</strong>
          </mat-error>
          <mat-error *ngIf="signinForm.get('email')?.hasError('email')">
            Email está em formato <strong>incorreto</strong>
          </mat-error>
          </mat-form-field>

          <span>
            <label for="password">SENHA SUPER <b>SECRETA</b></label>
          </span>
          <mat-form-field>
            <input
            type="password"
            id="password"
            name="password"
            placeholder="coxinha123"
            matInput formControlName="password"
          />
          <mat-error *ngIf="signinForm.get('password')?.hasError('required')">
            Senha é <strong>obrigatório</strong>
          </mat-error>
          </mat-form-field>

          <span>
            <a href="#" class="form-forgot-password">Esqueceu sua senha?</a>
          </span>

        <span class="form-button-content">
          <a class="form-button-content__create-account" href="/signup">
            Criar uma conta
          </a>
          <button 
          type="submit" 
          class="form-button-content__signin"
          (click)="this.onSubmit()"
          >Entrar</button>
        </span>
      </form>
    </div>
  </div>
</div>
